@import './base.css';

input,
select,
button {
  color: rgb(232, 232, 232);
  background-color: rgb(160, 98, 105);
  border-radius: 4px;
  border: none;
  padding: 10px 15px;
  font-size: inherit;
  margin: auto 10px;
}

button {
  cursor: pointer;
}

.creds {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.creds input,
.creds button {
  width: 500px;
}
